:root {
    --TL: 0%;
    --TL2: 0%;
    --TR: 0%;
    --TR2: 0%;
    --BR: 0%;
    --BR2: 0%;
    --BL: 0%;
    --BL2: 0%;
}

#main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #332c50;
}

.slider {
    
}

#sliders {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

label {
    background-color: #94e344;
    display: flex;
    align-items: center;
    justify-content: center;
}

label:hover {
    background-color: #46878f;
}

img {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100%;
}

/* #labels {
    display: flex;
    justify-content: center;
} */

.break {
    flex-basis: 100%;
    height: 0;
}

#test-sub {
    background-color: #46878f;
    height: 100px;
    width: 100px;
    margin: 2em;
    border-radius: var(--TL) var(--TR) var(--BR) var(--BL) / var(--TL2) var(--TR2) var(--BR2) var(--BL2);
}

html, body {
    margin: 0;
    border: 0;
    font-size: 1.1em;
    color: #332c50;
}

#output {
    max-width: 100%;
    width: 400px;
    height: 150px;
}

#copy-btn {
    width: 400px;
    max-width: 100%;
}

#copy-btn:hover {
    background-color: #46878f;
}

input, textarea {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #332c50;
    background-color: #94e344;
    max-width: 100%;
}

#sliders div {
    background-color: #46878f;

    
}

@media only screen and (max-width: 1000px) {}